
#split-line {
    width: 0%;
    height: 100%;
    position: absolute;
    left: calc(50% - 2px);

    border-left: 5px dashed white;
}

#player1, #player2 {
    width: 25px;
    height: 140px;
    position: absolute;

    background-color: white;
    border: 3px solid lightgray;
    border-radius: 8px;
}

.player-ball-hit { animation: 0.5s ease-in-out player-ball-hit; }

#player1 { border-color: red; }
#player2 { border-color: blue; }

@keyframes player-ball-hit {
    0% {  border-color: lightgray; }
    15%, 20% { border-color: white; }
    100% { border-color: relative; }

    5%  { transform: translateX(-2px); }
    60% { transform: translateX( 2px); }
    80% { transform: translateX(  0 ); }
}

#pongball {
    width: 40px;
    height: 40px;
    position: absolute;

    background-color: white;
    border-radius: 100%;
    border: 3px solid lightgray;

    transition: border-color 0.4s ease-in;
}

#pongball.pongball-hit { }
#pongball.pongball-switch-color { animation: 0.8s ease-in-out pongball-switch-color; }

@keyframes pongball-switch-color {
    0% {
        border-width: 3px;
        border-color: relative;
    }
    30%, 80% {
        border-width: 23px;
        width: 0px;
        height: 0px;
    }
    100% { 
        border-width: 3px;
        border-color: relative;
    }
}


#pongball.skin-coconut {
    background-color: transparent;
    border-radius: 0;
    border: none;

    background-image: url("../img/pong-coconut.png");
    width: 60px;
    height: 60px;
    background-size: 60px 60px;

    animation: 5s linear infinite pongball-skin-coconut;
}

#pongball.skin-coconut.pongball-hit {
    animation: 1.2s linear pongball-hit-skin-coconut, 5s linear infinite pongball-skin-coconut;
}

@keyframes pongball-skin-coconut {
    from { transform: rotate(0deg);  }
    to   { transform: rotate(360deg);}
}

@keyframes pongball-hit-skin-coconut {
    0%   , 80%  { background-image: url("../img/pong-coconut-angry.png"); }
    80.1%, 100% { background-image: url("../img/pong-coconut.png"); }
}