@import url('https://fonts.googleapis.com/css2?family=Outfit');
@import url('https://fonts.googleapis.com/css2?family=Cuprum');

* { 
    margin: 0;
    font-family: 'Outfit', 'Cuprum';
    color: white;
}

body {
    height: 100vh;
    position: relative;
    overflow: hidden;

    background-color: black;
}

body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: 
        url("../img/pong-coconut.png")
        url("../img/pong-coconut-angry.png")
        url("../img/wloppy.svg")
        url("../img/wloppy-blink.svg")
        url("../img/wloppy-close-eye-l.svg")
        url("../img/wloppy-close-eye-r.svg")
        url("../img/wloppy-tongue.svg")
        url("../img/wloppy-tongue-shine.svg")
}

#screen {
    width: 1280px;
    height: 720px;

    margin: 0;
    position: absolute;
    overflow: hidden;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#screen-game {
    width: calc(100% - 8px);
    height: calc(100% - 8px);

    /* background-color: black; */
    border: 4px solid white;
    border-left-color: red;
    border-right-color: blue;

    position: absolute;
    visibility: hidden;
}

#screen-game * { 
    position: absolute;
    z-index: 10;
}


#screen-ui {
    width: 100%;
    height: 100%;
    
    position: absolute;
}